.wp-block-jco-footer {
	display: grid;
	grid-template-areas:
		"left middle right"
		"copyright bottom bottom";

	#footer-left {
		grid-area: "left";
	}
	#footer-middle {
		grid-area: "middle";
	}
	#footer-right {
		grid-area: "right";
	}
	#footer-bottom {
		grid-area: "bottom";
	}
	#footer-copyright {
		grid-area: "copyright";
	}
}
